.footer {
    width: 100%;
    margin: $sp4 0 $sp2 0;
    padding: $sp8 $sp1 $sp4 $sp4;
    background-color: $very-dark-cyan;
    color: $grayish-button;
    font-size: .9rem;

    &__orientation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

        @media screen and (min-width: $sm) {

        display: flex;  
        flex-direction: row;
        align-content: space-between;
        align-items: center;

        }
    }
   

@media screen and (min-width: $sm) {
    
    &__contact{
        width: 25%;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: flex-start;

    }
}
    

    &__logo {
        display: inline-block;
        width: 45%;
        height: 45%;
        padding-bottom: $sp4;

    }


    &__contact__location {
        padding: 0 $sp7 $sp4 0;

        @media screen and (min-width: $sm) {
            padding-right: 5rem;
        }


        > i {
            padding-right: 1rem;
        }

    }

    &__contact__phone {
        padding: 0 $sp7 $sp4 0;

        @media screen and (min-width: $sm) {
            padding-right: 5rem;
        }

        > i {
            padding-right: 1rem;
        }
    }

    &__contact__email {
        padding: 0 $sp7 $sp4 0;

       

        > i {
            padding-right: 1rem;
        }
    }

    &__nav {
        
        display: flex;
        flex-direction: column;

        &__hiper {
            padding: 0 $sp7 $sp2 0;
            text-decoration: none;
            color: $grayish-button ;
        }

        @media screen and (min-width: $sm) {
            width: 25%;
        }
        


    }



    &__icons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: $sp3 0;
        font-size: 1.2rem;
      
        > a {
            display: flex;
            flex-direction: row;
            text-decoration: none;
            color: $grayish-button;
            
        }
      
        > a > i {
            padding-right: 2rem;
         
        }

        @media screen and (min-width: $sm) {
            width: 25%;
        }
        
    }

    &__copyright {
        width: 100%;
        text-align: center;
        font-size: .7rem;

        @media screen and (min-width: $sm) {
            text-align: right;
        }
    }

      
}