.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $sp3 $sp5;
    margin: $sp3 0;
    background-color: $white;
    border-radius: $sp4;
    box-shadow: 0 1px 1px 7px rgb(247, 243, 243);

    @media screen and (min-width: $sm) {
        width: 95%;
        border-radius: $sp1;
        flex-direction: row;
        padding: 0 $sp2 0 $sp7;

        &--reverse {
            flex-direction: row-reverse;
        }
     }

    &--float {
        padding: $sp1 $sp5;
        position: relative;
        margin-top: -5rem;
        bottom: -10rem ;
        box-shadow: none;

        @media screen and (min-width: $sm) {
            width: 35%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
         }

        .card__info__title {
            font-size: 1.2rem;
            padding-top: $sp5;
    
        }       
    }

    &__img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: $sm) {
            width: 60%;
            
            &--left {
                justify-content: left;
            }
         }

        &__image {
            width: 80%;
            padding: $sp6 0;

            @media screen and (min-width: $sm) {
                width: 70%
             }
        }
    }

    &__info {
        text-align: center;

        @media screen and (min-width: $sm) {
            text-align: left;
            width: 40%;
         }

        &__title {
            padding-bottom: $sp3;
            color: $very-dark-cyan;
            font-family: $font-family-poppins;
        }

        &__description {
            color: $grayish-blue;
            font-size: 1rem;
        }
    }

   

}

