.card {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    background-color: #1e1b26;
    width: 400px;
    height: 100%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 3px 7px 3px #aaa;
    display: flex;
    flex-direction: column;
}

.card-img {
    padding: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    color: #e7e7e7;
    font-weight: 200;
    text-align: left;
    padding-left: 20px;
    margin-bottom: -20px;
}

.card-subtitle {
    color: #9b9b9b;
    text-align: left;
    padding-left: 20px;
}

.card-summary {
    font-family: 'Montserrat', sans-serif;
    color: #e7e7e7;
    text-align: left;
    margin-top: -1px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
}

.card-text {
    color: #9b9b9b;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    font-weight: bold;
    word-spacing: 3pt;
    font-size: 14px;
    margin-top: -1px;
    margin-bottom: -10px;
}

.card-actors {
    color: #e7e7e7;
    font-style: italic;
    text-align: left;
    padding: 20px;
    font-size: 14px;
    margin-top: -1px;
    margin-bottom: -10px;
}

.card-button {
    color: #fe4141;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fe4141;
    margin: 20px;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    margin-right: 190px;
}

.card-play {
    text-align: center;
    padding-left: 10px;
    margin-left: -10px;
    width: 6%;
}

.github {
    width: 3rem;
    height: 4rem;
    background-color: #6b69693d;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    position: fixed;
    top: -.6rem;
    left: 1rem;
}

.github:hover {
    cursor: pointer;
    background-color: #6b69698e;
    box-shadow: 0 0 10px 1px #d1d1d1;
}

.github>a>i {
    font-size: 1.9rem;
    color: #000;
}

.github>a:visited {
    color: #000;
}