@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@900&display=swap');

//variables
//colors
$color-blue-grey: rgb(33, 33, 48);
$color-black: rgb(0, 0, 0, 0.6);
$color-grey: rgba(94, 93, 93, 0.644);
$color-white: rgb(255, 255, 255);
$color-whitesmoke: rgb(245, 245, 245);
$color-blue: rgb(14, 73, 184);
$color-dark-blue: rgb(7, 40, 102);

//spacing
$sp0: 0.3rem;
$sp1: 0.8rem;
$sp2: 1rem;
$sp3: 1.5rem;
$sp4: 2rem;
$sp5: 3rem;
$sp6: 5rem;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", cursive;
    width: 100%;
    overflow-x: hidden;
    color: $color-black;
    background: #DAE2F8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D6A4A4, #DAE2F8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-family: 'Arima Madurai', cursive;


    &__title {
        margin-top: $sp0;
        background-color: white;
    }

    a>i {
        font-size: 2rem;
        color: $color-black;
        padding: $sp0;

    }

    a>i:hover {
        color: $color-grey;
    }

}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .main__subtitle {

        font-size: 1.5rem;
        font-weight: 300;
        margin: 0 0 0 1.8rem;
        padding-left: 1rem;

        @media screen and (max-width:680px) {
            padding: 0 0 .2rem .8rem;
        }

    }

    .main__image {
        position: relative;
        top: -2.3rem;
        right: -12.7rem;
        width: 20%;

        @media screen and (max-width:680px) {
            width: 20%;
            right: -12.5rem;
        }
    }

    .main__course {
        font-size: 1.5rem;
        margin-top: -2rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
    }
}

.card {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: $sp4;
}

.card__figure {
    margin: $sp1;
    padding: $sp2;
    background-color: $color-whitesmoke;
    box-shadow: 1px 1px 3px rgb(173, 173, 173);
    border-radius: $sp3;
    overflow: hidden;
}

.card__figure:hover {
    box-shadow: 1px 1px 10px #5f5b5b98;
    transform: scale(1.05);
    overflow: hidden;
}

.image {
    width: 300px;
    z-index: 0;

    @media screen and (max-width:680px) {
        width: 200px;
    }
}

.bold {
    text-align: right;
    font-weight: 500;
    font-size: .9rem;
    color: $color-blue-grey;
}