
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}

.body {
    background: url(bg.jpg);
    background-repeat: repeat;
    background-size: cover;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

}

.element {
    width: 150px;
    height: 150px;
    background: radial-gradient(circle, rgba(238,174,227,1) 30%, rgba(235, 16, 180, 0.4) 61%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.element::after{
    content: "";
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border-right: 4px solid rgba(255, 255, 255, 0.514);
    position: absolute;
    right: .5rem;
}

.element::before{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color:  rgba(255, 255, 255, 0.514);
    position: absolute;
    top: .7rem;
    right: 6rem;
    
}

.dona {
   font-size: 5rem;
}

.github {
    width: 3rem;
    height: 4rem;
    background-color: #6b69693d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    position: fixed;
    top: -.6rem;
    left: 1rem;
}

.github:hover {
    cursor: pointer;
    background-color: #6b69698e;
    box-shadow: 0 0 10px 1px #d1d1d1;
}

.github>a>i {
    font-size: 1.9rem;
    color: #000;
}

.github>a:visited {
    color: #000;
}

