//font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

//colors
$very-dark-cyan: rgb(0, 37, 46);
$grayish-blue: rgb(108, 117, 128);
$blue:rgb(19, 165, 165);
$red: rgb(187, 11, 11);
$white: rgb(250, 250, 250);
$light-grey: rgb(241, 241, 241);
$whitesmoke: rgb(235, 231, 231);

//weight
$lw: 300;
$rw: 500;
$bw: 700;