:root {
  --dark-blue: rgb(45, 49, 77);
  --green: rgb(49, 211, 92);
  --cyan: rgb(43, 183, 218);
  --grey-blue: rgb(150, 152, 166);
  --light-grey-blue: rgb(243, 244, 246);
  --light-grey: rgb(250, 250, 250);
  --white: rgb(255, 255, 255);
}

.attribution {
  font-size: 14px;
  text-align: center;
}

.attribution a {
  color: rgb(62, 82, 163);
}

.github {
  width: 3rem;
  height: 4rem;
  background-color: rgba(107, 105, 105, 0.239);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  position: fixed;
  top: -.6rem;
  left: 1rem;
  z-index: 10;
}

.github:hover {
  cursor: pointer;
  background-color: rgba(107, 105, 105, 0.557);
  box-shadow: 0 0 10px 1px rgb(209, 209, 209);
}

.github>a>i {
  font-size: 1.9rem;
  color: rgb(0, 0, 0);
}

.github>a:visited {
  color: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-size: 16px;
  font-family: 'Public Sans', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  width: 100%;
  margin: 0 0;
  display: flex;
}

.container__header {
  width: 100%;
  height: 60px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.header__nav {
  word-spacing: 10px;
  color: var(--grey-blue);
}

.fa-bars {
  color: rgb(255, 255, 255);
}

.header__nav__il:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

.header__button {
  width: 170px;
  padding: 15px 0;
  border: none;
  border-radius: 30px;
  background: linear-gradient(120deg, rgb(49, 211, 92), rgb(43, 183, 218));
  color: var(--white);
  font-weight: 600;
}

.header__button:hover {
  cursor: pointer;
}

.container__left,
.container__rigth {
  width: 100%;
}

.container__rigth {
  position: relative;

}

.container__title {
  font-size: 2rem;
  font-weight: 100px;
  padding: 100px 250px 20px 100px;
}

.container__text {
  padding: 20px 300px 0px 100px;
  line-height: 25px;
  color: var(--grey-blue);
}

.container__bg__img {
  width: 55%;
  position: absolute;
  top: -50px;
  right: -130px;
  overflow: hidden;
  z-index: -1;
}

.container__img__phones {
  width: 100%;
  position: relative;
  left: 40px;
  top: -60px;
  z-index: 0;
}

.button__section {
  padding-left: 100px;
}

.second__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
}

.second__section__title {
  font-size: 2rem;
  font-weight: 100px;
  padding: 0px 250px 20px 100px;
}

.second__section__text {
  padding: 0 100px;
  line-height: 25px;
  color: var(--grey-blue);
}

.characteristics {
  display: flex;
  flex-direction: row;
  padding: 20px 0px 20px 100px;
}

.chara__img {
  width: 55px;
  padding-bottom: 30px;
}

.chara__title {
  font-weight: 600;
  padding-bottom: 15px;
  color: var(--dark-blue);
}

.chara__text {
  padding: 0 100px 10px 0;
  color: var(--grey-blue);
  font-size: 0.8rem;
  line-height: 20px;
  text-align: justify;
}

.thirds__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
}

.third__section__title {
  font-size: 2rem;
  font-weight: 100px;
  padding: 0px 250px 20px 100px;
}

.articles {
  display: flex;
  flex-direction: row;
  padding: 20px 0px 20px 100px;
}

.articles__img {
  width: 220px;
  height: 150px;
  padding-bottom: 20px;
}

.articles__by {
  font-size: 0.7rem;
  color: var(--grey-blue);
}

.articles__title {
  font-weight: 600;
  padding: 10px 100px 10px 0;
}

.articles__title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.articles__text {
  padding: 0 100px 10px 0;
  color: var(--grey-blue);
  font-size: 0.8rem;
  line-height: 20px;
  text-align: justify;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px 50px 100px;
  background-color: var(--dark-blue);
}

.footer__logo {
  padding: 20px 0 60px 0;
}

.footer__icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icons {
  display: flex;
  flex-direction: row;
}

.icons>img {
  padding-right: 10px;
}

.icons>img:hover {
  cursor: pointer;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--grey-blue);
  font-size: 0.9rem;
}

.footer__column>p {
  padding: 10px 0 10px 0;
}

.footer__column>p:hover {
  cursor: pointer;
  color: var(--white);
}

.footer__button__cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--grey-blue);

}

.footer__button__cont>p {
  font-size: 0.8rem;
  padding-right: 50px;
  color: var(--grey-blue);
}

.footer__button {
  width: 170px;
  padding: 15px 0;
  border: none;
  border-radius: 30px;
  background: linear-gradient(120deg, rgb(49, 211, 92), rgb(43, 183, 218));
  color: var(--white);
  font-weight: 600;
  margin: 0 50px 30px 0;
}

.footer__button:hover {
  cursor: pointer;
}

@media screen and (max-width:800px) {
  
  .container {
    width: 100%;
    padding: 10px;
    display: flex;
  }

  .container__header {
    width: 100%;
  }

  .fa-bars {
    display: inline-block;
    width: 30%;
    font-size: 1.2rem;
  }

  .fa-bars:hover {
    cursor: pointer;
  }

  .header__nav__il {
    display: none;
  }

  .header__button {
    width: 100px;
    font-size: .7rem;
    padding: 6px 15px; 
    margin-right: 5px;
  }

  .container__left {
    width: 100%;
  }

  .container__right {
    display: none;
  }

  .container__title {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .container__text {
    padding: 10px;
    text-align: justify; 
  }

  .container__bg__img {
    display: none;
  }

  .button__section {
    padding-left: 0;
    text-align: center;
  }

  .second__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 10px;
  }

  .second__section__title {
    padding: 10px;
    text-align: center;
  }

  .second__section__text {
    padding: 10px ;
    text-align: justify;
  }

  .characteristics, .characteristics div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .chara__img {
    width: 100px;
    padding: 10px;
  }

  .chara__title {
    padding-bottom: 10px;
  }

  .chara__text {
    padding: 0;
  }

  .thirds__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 10px;
  }

  .third__section__title {
    padding: 10px;
    text-align: center;
  }

  .articles, .articles div  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .articles__img {
    padding: 10px;
    text-align: center;
  }

  .articles__by {
    padding: 10px auto;
  }

  .articles__title {
    padding: 10px;
    text-align: center;
  }

  .articles__text {
    padding: 0 10px;
    text-align: justify;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }

  .footer__logo {
    padding: 20px 0;
  }

  .footer__icons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .icons {
    display: flex;
    flex-direction: row;
  }

  .footer__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__column > p {
    padding: 10px 0;
  }

  .footer__button__cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__button__cont>p {
    padding: 10px;
  }

  .footer__button {
    width: 140px;
    padding: 10px 0;
    margin: 10px ;
  }
}